<% layout("layouts/boylerplate.ejs") %>

<div style="text-align: center; margin-top: 5rem;">
  <i class="fa-brands fa-square-instagram" style="font-size: 4rem; color: #E1306C;"></i>
  <h2>This is Airbnb Instagram Page</h2>
  <p>Follow us for travel inspiration, hidden gems, and more!</p>
</div>
