<% layout("layouts/boylerplate.ejs") %>

<div style="text-align: center; margin-top: 5rem;">
  <i class="fa-brands fa-linkedin" style="font-size: 4rem; color: #1877F2;"></i>
  <h2>This is Airbnb LinkedIN Page</h2>
  <p>Follow us for travel inspiration, hidden gems, and more!</p>
</div>
